
$--color-primary: teal;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.CodeMirror {
    border: 1px solid #eee;
    height: 95vh;
    font-size: 24px;
}

.vue-barcode-element {
    width: 28vw;
}